<!DOCTYPE html>
<html>
	<%- include('head', {title: title, linkactive: linkactive}); %>

		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">Maria</h5>
		    <h6 class="card-subtitle mb-2 text-muted">Records de jogo de barquete</h6>
		    <p class="card-text">Bati <%= recordMin %> records Mínimos</p>
		    <p class="card-text">Bati <%= recordMax %> records Máximos.</p>
		    <a href="/visualizacao" class="card-link">Visualizar</a>
		    <a href="/insercao" class="card-link">Inserir</a>
		  </div>
		</div>
		<div class="fixed-bottom">By Leandro Silva Araujo</div>


		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</body>
</html>
